body {
    padding:0;
    margin:0;
    background-color:#333333;
    font-family:monospace;
}



    *{
      font-family: Arial;
    }
    
    html, body {
      height: 100%;
    }
    
    body {
      margin: 0 auto;
      width: 600px!important;
    
      /* This centers our sketch horizontally. */
      justify-content: center;
    
      /* This centers our sketch vertically. */
      align-items: center;
    }
    
    .wrap{
      margin: 0 auto;
      width: 800px; 
      height: 40px;
    }
    
    
    
    .wrap a{
      float: left;
      height: 10px;
      font-weight: bold;
      color: rgb(228, 38, 171);
      text-decoration: none;
      padding-right: 20px;
    }